<h1 id="titulo">Conversor de Moedas
</h1>
<form action = "">

    <h5>Valor em Reais:</h5>
    <input type="number" name="valor"><br>

    <div ngbDropdown>
      <button type="button" class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>Toggle</button>
      <div ngbDropdownMenu aria-labelledby="dropdownConfig">
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div>

    <input type= "number" name="cambio"><br>

    <button class="btns" id="btn4" (click)="converter()">Converter</button>

    <h5>Moeda Convertida:</h5>
    <input type="text" id="resp" readonly>




